{% extends 'base.html' %} {% load static %} {% block metadata %}
<link
  rel="stylesheet"
  href="{% static 'css/chatbotMicroservice/chatbot.css' %}"
/>
<meta name="csrf-token" content="{{ csrf_token }}" />
<meta name="chatbot-id" content="{{ chatbot_id }}" />
<title>{{ bot_name }}</title>
{% endblock %} {% block main %}
<script src="{% static 'js/chatbotMicroservice/embed.js' %}"></script>
<script>
  // Initialize the chatbot with config
  document.addEventListener("DOMContentLoaded", () => {
    const chatbotConfig = {
      token: "95996ae5-408c-4ce2-8f0d-9e3bff6dd80c",
      botName: "{{ bot_name }}"
    };
    new Chatbot(chatbotConfig);
  });
</script>
{% endblock %}
